nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    margin-top: 0;
}

body {
    margin-top: 0;

}

nav .profil {
    display: flex;
    align-items: center;
}

nav .profil img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

nav .profil h1 {
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    border-bottom: 1px solid #fff;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

nav ul li .porto {
    color: red;

}

nav ul li:hover {
    border-bottom-color: #000;
}

.intro {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.image {
    width: 100%;
}

.projects-section {
    margin-top: 6%;
}

.projects-section .Action {
    display: flex;
}

.projects-section .Action button {
    margin: 1%;
    border-color: #fff;
    background-color: beige;




}

.projects-section .Action button {
    width: 50%;
    margin-right: 20px;
}

.projects-section .Action .faits{
    height: 100%;
    width: 100%;
}
.projects-section .Action .faits .bNG{
margin-top: 5%;
}

.projects-section .Action .faits .container .blog {
    width: 50%;
    height: 20%;
    

}

.projects-section .Action .faits p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
}

.projects-section .Action .faits .descritions {
    font-size: 10px;
}

.projects-section .Action .faits .dates {
    font-size: 13px;
    color: rgb(145, 145, 145);
}

footer {
    margin-top: 7%;
    display: flex;
    flex-direction: wrap;
    justify-content: space-around;
    background-color: #000;
    color: #fff;
    padding: 10px;

}

footer .colonne {
    margin: 4%;
}

footer .colonne p {
    font-size: 18px;
    color: #ffff;
    flex-direction: column;
}

footer .colonne h3 .adresses {
    margin: 20px;
    flex-direction: wrap;
}

footer .colonne a {
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

footer .colonne a:hover {
    color: #fff;
    text-decoration: none;
}


@media screen and (max-width:700px) {
    nav {
        justify-content: center;
    }





    .projects-section {
        margin-top: 15%;
    }

    .projects-section h1 {
        font-size: 1.5em;
    }

    .projects-section .Action .faits {

        margin-right: 0%;
        margin-bottom: 20px;
        max-width: 100%;
    }

    .retour button {
        max-width: 100%;
        margin-left: 700px;
    }

    footer {
        justify-content: flex-start;
        width: 100%;
    }
}